In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("mnist.csv")

In [3]:
df['index']= df['index'].astype(object)

In [4]:
df

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,index
0,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
1,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
2,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
3,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
4,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41995,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
41996,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
41997,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
41998,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9
41999,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,9

In [5]:
df.shape

(42000, 785)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42000 entries, 0 to 41999
Columns: 785 entries, 0 to index
dtypes: int64(784), object(1)
memory usage: 251.5+ MB

In [7]:
df.isna().sum()

0        0
1        0
2        0
3        0
4        0
        ..
780      0
781      0
782      0
783      0
index    0
Length: 785, dtype: int64

## split

In [8]:
df.iloc[0].value_counts()

30     539
214    123
91       6
58       5
72       5
      ...
192      1
193      1
194      1
67       1
61       1
Name: 0, Length: 78, dtype: int64

In [9]:
df.isna().sum()

0        0
1        0
2        0
3        0
4        0
        ..
780      0
781      0
782      0
783      0
index    0
Length: 785, dtype: int64

In [10]:
X =df.iloc[:,:784]
y = df["index"].apply(lambda x:int(x))

In [11]:
y.dtype

dtype('int64')

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size=0.30,random_state=100)

In [13]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
17529,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30
3088,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30
6537,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30
32294,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30
30817,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30

In [14]:
y_train.head()

17529    4
3088     0
6537     1
32294    7
30817    7
Name: index, dtype: int64

In [15]:
y_test.head()

21028    4
35662    8
7969     1
16537    3
36659    8
Name: index, dtype: int64

In [16]:
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()
X_train_num_rescalar = scalar.fit_transform(X_train)
X_train_num_rescalar

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [17]:
X_test_num_rescalar = scalar.transform(X_test)
X_test_num_rescalar

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

# 1. Logistic Regression

In [18]:
from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression()

classifier.fit(X_train_num_rescalar, y_train)

LogisticRegression()

In [19]:
y_test_pred = classifier.predict(X_test_num_rescalar)

In [20]:
from sklearn.metrics import accuracy_score

print("Accuracy Score : ", accuracy_score(y_test,y_test_pred))

Accuracy Score :  0.9053968253968254

# 2. KNN

In [21]:
from sklearn.neighbors import KNeighborsClassifier

classifier_knn = KNeighborsClassifier()

classifier_knn.fit(X_train_num_rescalar, y_train)

KNeighborsClassifier()

In [22]:
y_test_pred = classifier_knn.predict(X_test_num_rescalar)

In [23]:
from sklearn.metrics import accuracy_score

print("Accuracy Score : ", accuracy_score(y_test,y_test_pred))

Accuracy Score :  0.9371428571428572

# 3. Decision Tree Classification

In [24]:
from sklearn.tree import DecisionTreeClassifier

classifier_dt = DecisionTreeClassifier()

classifier_dt.fit(X_train_num_rescalar, y_train)

DecisionTreeClassifier()

In [25]:
y_test_pred = classifier_dt.predict(X_test_num_rescalar)

In [26]:
from sklearn.metrics import accuracy_score

print("Accuracy Score : ", accuracy_score(y_test,y_test_pred))

Accuracy Score :  0.854047619047619

# 4.Random Forest Classification

In [27]:
from sklearn.ensemble import RandomForestClassifier

classifier_rf = RandomForestClassifier()

classifier_rf.fit(X_train_num_rescalar, y_train)

RandomForestClassifier()

In [28]:
y_test_pred = classifier_rf.predict(X_test_num_rescalar)

In [29]:
from sklearn.metrics import accuracy_score

print("Accuracy Score : ", accuracy_score(y_test,y_test_pred))

Accuracy Score :  0.965

# 5. SVC

In [30]:
from sklearn.svm import SVC

classifier_svc = SVC()

classifier_svc.fit(X_train_num_rescalar, y_train)

SVC()

In [31]:
y_test_pred = classifier_svc.predict(X_test_num_rescalar)

In [32]:
from sklearn.metrics import accuracy_score

print("Accuracy Score : ", accuracy_score(y_test,y_test_pred))

Accuracy Score :  0.9593650793650793

In [33]:
dict1={"Classifier" : ["KNeighborsClassifier","LogisticRegression","DecisionTreeClassifier","RandomForestClassifier", "SVC"],
      "Accuracy" :[0.9371428571428572, 0.9053968253968254, 0.854047619047619, 0.9652380952380952, 0.9593650793650793]}

In [34]:
df1 = pd.DataFrame(dict1)
df1

               Classifier  Accuracy
0    KNeighborsClassifier  0.937143
1      LogisticRegression  0.905397
2  DecisionTreeClassifier  0.851746
3  RandomForestClassifier  0.965238
4                     SVC  0.959365

In [36]:
from pickle import dump

dump(classifier_knn, open('models/knn_model.pkl', 'wb'))
dump(classifier, open('models/lr_model.pkl', 'wb'))
dump(classifier_rf, open('models/rf_model.pkl', 'wb'))
dump(classifier_dt, open('models/dt_model.pkl', 'wb'))
dump(classifier_svc, open('models/sv_model.pkl', 'wb'))